body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    min-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: skewX(130deg);
    position: relative;
}
form::after{
    content: "Отправка";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    transform: skew(-130deg);
    opacity: 0;
    visibility: hidden;
}
form._sending::after{
    opacity: 1;
    visibility: visible;
}
#input{
    width: 20em;
    display: inline-block;
    background: white;
    opacity: 0.7;
    height: 3.3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
input{
    outline: none !important;
    width: 90%;
    height: 90%;
    transform: skewX(-130deg);
    border: none;
    margin-left: 1.5em;
    font-size: 22px;
}
#button{
    outline: none;
    min-height: 53px;
    background-color: red;
    color: white;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 1em 2em;   
    position: relative;
}
#button:active{
    top: 3px;
}
#text{
    display: inline-block;
    transform: skewX(-130deg);
}
._error{
    box-shadow: 0 0 5px red;
}

@media screen and (max-width: 900px) {
    form{transform: skewX(0deg);}
    form::after{transform: skew(0deg);}
    input{transform: skewX(0deg);}
    #text{transform: skewX(0deg);}
}